fastapi==0.115.8
uvicorn[standard]==0.34.0
sqlalchemy==2.0.38
pymysql==1.1.1
cryptography==44.0.1
python-dotenv==1.0.1
bcrypt==4.0.1
pydantic-settings==2.8.1
PyJWT==2.10.1
httpx==0.28.1
python-multipart==0.0.20
fpdf2==2.8.3
